<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.TodoMapper">

	<!--select all-->
	<select id="todoList" resultType="com.co.kr.domain.TodoListDomain">
	  SELECT bd_seq, mb_id, bd_content, bd_done, bd_create_at, bd_update_at
	  FROM sts.todo order by bd_update_at desc
	</select>
	
	<!-- content insert -->
	<insert id="insertToDoList" parameterType="com.co.kr.domain.TodoContentDomain"
	useGeneratedKeys="true"
        keyProperty="bdSeq" keyColumn="bd_seq">
	
        INSERT INTO sts.todo (
            mb_id,   			                      
			bd_content,
			bd_done,
        )
        VALUES (
            #{mbId},          
            #{bdContent},
            #{bdDone}  
        )
	</insert>
	
	<!-- Content update -->
    <update id="updateToDoList" parameterType="com.co.kr.domain.TodoContentDomain">
        UPDATE sts.todo SET
            bd_done = 'Y'
        WHERE bd_seq = #{bdSeq}
    </update>
    
    <!-- Content delete -->
    <delete id="deleteToDoList" parameterType="hashMap">
       DELETE FROM sts.todo WHERE bd_seq=#{bdSeq}
    </delete>
    
    <!-- content -->
	<select id="todoSelectOne" resultType="com.co.kr.domain.TodoListDomain" parameterType="map">
    	SELECT bd_seq, mb_id, bd_content,bd_done, bd_create_at, bd_update_at
    	FROM sts.todo where bd_seq = #{bdSeq}
	</select>

</mapper>